.participating-countries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;

    max-height: 70vh;
    overflow-y: auto;
}

.participating-countries::-webkit-scrollbar {
    width: 5px;
}

.participating-countries::-webkit-scrollbar-track {
    background: transparent;
}

.participating-countries::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 10px;
}

.participating-countries::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tablets / smaller screens */
@media (max-width: 900px) {
    .participating-countries {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Phones */
@media (max-width: 600px) {
    .participating-countries {
        grid-template-columns: repeat(2, 1fr);
    }
}

.country-voted {
    padding: 10px;
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(223, 223, 223);
    color: black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.181);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.country-not-voted {
    padding: 10px;
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(18, 177, 0);
    color: black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.181);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}