

.app-container h1{
    font-size: 50px;
    margin-bottom: 0px;
}


.app-container p{
    margin-top: 0px;
}

.button-action{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 50px;
}

